black==22.3.0
flake8==4.0.1
flake8-bugbear==22.1.11
flake8-pie==0.15.0
isort==5.9.3
mypy==1.13
pytest==7.0.1
pydantic
sqlalchemy==1.4.26
fastapi
aiosqlite==0.17.0
greenlet==1.1.2
uvicorn[standard]==0.15.0